.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: app-logo-float infinite 10s linear;
  }
}

.App-header {
  background-color: #f2ebe3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes app-logo-float {
  0% {
    transform: translateX(0) translateY(0px) translateY(0px);
  }
  30% {
    transform: translatez(5px) translateX(-10px) translateY(5px);
  }
  50% {
    transform: translatez(-5px) translateX(0px) translateY(0px);
  }
  80% {
    transform: translatez(5px) translateX(10px) translateY(-5px);
  }
  100% {
    transform: translatez(-5px) translateY(0px) translateY(0px);
  }
}
